{{>head}}
<main class="d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h2>Oops... 404</h2>
        <img src="/img/<!-- IMAGE NAME-->.jpg" alt="<!-- IMAGE ALT -->>">
        <h6>It looks like you typed the wrong URL</h6>
        <a href="/" class="btn btn-blue-grey">CLICK HERE TO COME BACK TO SITE</a>
    </div>
</main>
{{>trademark}}
{{>foot}}