{{>head}}
{{>navbar}}

    <section id="index-first-section" class="parallax-window" data-parallax="scroll" data-image-src="img/palace-of-justice.png">
        
        <div class="container">
            <div class="row">
                <div class="col-5 text-content">
                    <h5>Ние сме</h5>
                    <h1>Тера Консулт</h1>
                    <div>
                        <h6>Счетоводни и Правни услуги</h6>
                    </div>
                </div>
                <div class="col-7 lawyers-images-div">
                    <img src="img/attorneys-edited.png" alt="Attorneys" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="white-box"></div>
        <div class="satisfied-clients">
            <h6>Повече от {{clients}} доволно обслужени клиенти!</h6>
        </div>

    </section>
    
    
    <main>
        <div class="container">
            <img src="img/separator.png" alt="Separator" class="separator">
            <section id="index-second-section" class="row">
                <div>
                    <img src="img/separator-vertical.png" alt="Vertical Separator" class="img-fluid">
                </div>
                <div class="col-7 ml-auto">
                    <h3>Нашата Мисия</h3>
                    <p><span>Счетоводство</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus accusantium explicabo, tenetur dolor rem ipsam dolores nihil minima et ut aperiam officia ipsa! Minus, amet quaerat et ut aperiam officia ipsa! Minus, amet quaerat!</p>
                    
                    <p><span>Право</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus accusantium explicabo, tenetur dolor rem ipsam dolores nihil minima et ut aperiam officia ipsa! Minus, amet quaerat!tenetur dolor rem ipsam dolores nihil minima et ut aperiam officia ipsa! Minus, amet quaerat!</p>
                </div>
                <div class="col-4">
                    <img src="img/justice-lady.png" alt="Lady Justice" class="img-fluid">
                </div>
            </section>

            <div class="separator-div"></div>

            <section id="index-third-section" class="row">
                <div class="col-12">
                    <h3>Защо Да Изберете Нас?</h3>
                    <div class="row first-row">
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Коректност</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Разбиране</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Отношение</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Лоялност</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Експедитивност</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6 col-md-4 choice-quality">
                            <div class="mask">
                                <h6>Професионализъм</h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                                <img src="img/separator-2.png" alt="Separator-2" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>          
            </section>

            <div class="separator-div"></div>

            <section id="index-fourth-section">
                <div class="row">
                    <div class="col-12">
                        <h3>Ние и Нашите Услуги</h3>
                        <div class="row">
                            <div class="col-12 col-md-5 service-providers">
                                
                                <div class="service-provider" id="index-page-rudi">
                                    <div class="img-holder">

                                    </div>
                                    <div class="separator-div"></div>
                                    <div class="service-provider-details">
                                        <h5 class='name'></h5>
                                        <h6 class="profession"></h6>
                                        <div class="separator-div"></div>
                                        <ul class="services"></ul>
                                        <a href="/services/#" class="btn btn-primary">ВИЖ УСЛУГИТЕ</a>
                                    </div>  
                                </div>
                            </div>
                            <div class="col-12 col-md-5 ml-auto service-providers">
                            
                                <div class="service-provider" id="index-page-stanish">
                                    <div class="img-holder">
                            
                                    </div>
                                    <div class="separator-div"></div>
                                    <div class="service-provider-details">
                                        <h5 class='name'></h5>
                                        <h6 class="profession"></h6>

                                        <div class="separator-div"></div>
                                        <ul class="services"></ul>
                                        <a href="/services/#" class="btn btn-primary">ВИЖ УСЛУГИТЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>

            <div class="separator-div"></div>
            <section id="index-fifth-section">
                <div class="card col-md-9 mt-5 mb-5 my-0 mx-auto">
                    <div id="testimonyCarouselControls" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <div class="w-100 carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-sm-3 d-flex flex-column justify-content-center">
                                            <img src="img/ariel.jpg" alt="" class="rounded-circle img-fluid" />
                                        </div>
                                        <div class="col-sm-9">
                                            <h3>Gives me hope</h3>
                                            <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
                                            <small class="smallest mute">- Yayo Dudemous</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="img/ariel.jpg" alt="" class="rounded-circle img-fluid">
                                        </div>
                                        <div class="col-sm-9">
                                            <h3>You will love it.</h3>
                                            <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
                                            <small class="smallest mute">- Yayo Dudemous</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="img/ariel.jpg" alt="" class="rounded-circle img-fluid">
                                        </div>
                                        <div class="col-sm-9">
                                            <h3>Velvet pouch!</h3>
                                            <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
                                            <small class="smallest mute">- Yayo Dudemous</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-right navi">
                            <a class="" href="#testimonyCarouselControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="" href="#testimonyCarouselControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

            </section>


            <img src="img/separator-reverse.png" alt="Separator" class="separator">
        </div> {{!-- End Of Container DIV --}}



    <section id="index-sixth-section" class="form-section">
        <div class="white-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Кога Ви е удобно да се свържем?</h3>
    
                    {{>form}}
    
    
                </div>
            </div>
        </div>
    </section>
    </main>
    
    {{>footer}}

{{>trademark}}
{{>foot}}