{{>head}}
{{>navbar}}

    <section id="first-section">
        <div class="container">
            <div class="text-content">
                <h5>Ние сме</h5>
                <h1>Тера Консулт</h1>
                <div class="">
                    <h6>Счетоводни и Правни услуги</h6>
                </div>
            </div>
            <div class="lawyers-images-div">
                <img src="img/attorneys-edited.png" alt="Attorneys">
            </div>
    
            <div class="satisfied-clients">
                <h6>Повече от {{clients}} доволно обслужени клиенти!</h6>
            </div>
        </div>
        <img src="./img/grey-bottom.png" alt="Grey bottom" class="grey-bottom-img">
    </section>
    
    <main class="container">
        <section id="second-section" >
            <div class="our-mission-box">
                <h3>Нашата Мисия</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus accusantium explicabo, tenetur dolor rem ipsam dolores nihil minima et ut aperiam officia ipsa! Minus, amet quaerat! Tempore, distinctio at! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum eum eaque ut nesciunt exercitationem ex.</p>
            </div>
        </section>

        <section id="third-section">

            <div  class="our-mission-box">
                <h3>Защо Да Изберете Нас?</h3>

                <div class="company-quality">
                    <h6>Коректност</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                </div>
                <div class="company-quality">
                    <h6>Разбиране</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                </div>
                <div class="company-quality">
                    <h6>Лоялност</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                </div>
                <div class="company-quality">
                    <h6>Експедитивност</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                </div>
            </div>
        </section>

        <section id="fourth-section">
            <h3>Ние и Нашите Услуги</h3>
            <div class="service-providers">
                <div class="service-provider" id="index-page-rudi">

                    <h5 class='name'></h5>
                    <h6 class="profession"></h6>
                    <h6 class="experience"></h6>
                    <ul class="services"></ul>

                </div>
                <div class="service-provider" id="index-page-stanish">
                    <h5 class='name'></h5>
                    <h6 class="profession"></h6>
                    <h6 class="experience"></h6>
                    <ul class="services"></ul>
                </div>
            </div>
        </section>

        <section id="fifth-section">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis numquam magnam vitae exercitationem. Recusandae, ducimus atque? Quibusdam officia iste fugit corrupti exercitationem dolorem, commodi deleniti iure temporibus mollitia rem veritatis natus cupiditate, ullam unde, blanditiis itaque perspiciatis rerum et autem. Aperiam unde enim hic veniam quasi non error numquam maiores!

        </section>
    </main>


{{>trademark}}
{{>foot}}