{{>head}}
{{>navbar}}

    <section id="index-first-section">
        <div class="container">
            <div class="row">
                <div class="col-5 text-content">
                    <h5>Ние сме</h5>
                    <h1>Тера Консулт</h1>
                    <div>
                        <h6>Счетоводни и Правни услуги</h6>
                    </div>
                </div>
                <div class="col-7 lawyers-images-div">
                    <img src="img/attorneys-edited.png" alt="Attorneys" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="satisfied-clients">
            <h6>Повече от {{clients}} доволно обслужени клиенти!</h6>
        </div>
        <img src="./img/grey-bottom.png" alt="Grey bottom" class="grey-bottom-img">
    </section>
    
    <main class="container">
        <section id="index-second-section" class="row">
            <div class="col-12">
                <h3>Нашата Мисия</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptatibus accusantium explicabo, tenetur dolor rem ipsam dolores nihil minima et ut aperiam officia ipsa! Minus, amet quaerat! Tempore, distinctio at! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum eum eaque ut nesciunt exercitationem ex.</p>
            </div>
        </section>

        <section id="index-third-section" class="row">
            <div class="col-12">
                <h3>Защо Да Изберете Нас?</h3>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <h6>Коректност</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6>Разбиране</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6>Лоялност</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6>Експедитивност</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione, veritatis magni hic molestias maiores deleniti amet</p>
                    </div>
                </div>
            </div>
           
        </section>

        <section id="index-fourth-section">
            <div class="row">
                <div class="col-12">
                    <h3>Ние и Нашите Услуги</h3>
                    <div class="row">
                        <div class="col-12 col-md-4 service-providers">
                            
                            <div class="service-provider" id="index-page-rudi">
                                <div class="img-holder">

                                </div>
                                <div class="service-provider-details">
                                    <h5 class='name'></h5>
                                    <h6 class="profession"></h6>
                                    <h6 class="experience"></h6>
                                    <ul class="services"></ul>
                                </div>  
                                
                        
                            </div>
                        </div>
                        <div class="col-12 col-md-4 ml-auto service-providers">
                        
                            <div class="service-provider" id="index-page-stanish">
                                <div class="img-holder">
                        
                                </div>
                                <div class="service-provider-details">
                                    <h5 class='name'></h5>
                                    <h6 class="profession"></h6>
                                    <h6 class="experience"></h6>
                                    <ul class="services"></ul>
                                </div>
                        
                        
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>

     
    </main>


{{>trademark}}
{{>foot}}