nav {
    .nav-logo {
        max-width: 200px;
    }
    .navbar-nav {
        .nav-item {
            border-right: 1px solid $menu-blue;
            padding: 10px 30px;
            &:last-child {
                border-right: none;
            }
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.2rem;
                &:hover {
                    border-bottom: 2px solid $menu-blue;
                    padding-bottom: 3px;
                }
            }
        }
    }
}