<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo impedit porro recusandae odit aperiam odio repudiandae, autem cumque! Repellendus natus assumenda alias possimus molestiae id neque et. Quam, voluptas minima rerum error vero nihil perspiciatis explicabo recusandae ullam asperiores, veniam reiciendis optio perferendis odio doloremque fugiat repellat tempora pariatur eveniet maxime. Ex cum fugiat sunt nostrum quae labore, laudantium non animi expedita sapiente placeat dolorem? Laudantium blanditiis animi quidem vitae porro unde assumenda quo vero eum! At delectus labore quisquam error repudiandae veniam iusto consequatur cupiditate maiores, fuga esse blanditiis corrupti fugiat aliquam exercitationem ea nesciunt voluptatibus suscipit officia voluptate accusamus aliquid enim expedita. Totam dolorum explicabo dolore amet maxime. Maiores eaque unde, nesciunt quos deleniti rem sit magnam quod sint, voluptatibus beatae ipsum fuga aspernatur qui, laudantium soluta maxime? Obcaecati hic ut architecto praesentium, quidem placeat, cupiditate molestias illo cumque quas explicabo incidunt facere eveniet rerum, mollitia dicta!
            </div>
            <div class="col-12 col-md-7">
                <div id="map"></div>
            </div>
        </div>
    </div>
</footer>
