<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h3>Тера Консулт</h3>
            </div>
            <div class="col-12 col-md-7">
                <div id="map"></div>
            </div>
        </div>
    </div>
</footer>
