<!-- SCRIPTS -->

{{!-- <!-- Vendor JS -->
<script type="text/javascript" src="/js/vendor/vendor.js"></script> --}}
<!-- Custom JS -->
<script type="text/javascript" src="/js/main.js"></script>

</body>

</html>