<nav>
    <div class="nav-logo-div">
        <a href="/" target="_self"><img class="nav-logo" src="./img/tera.png" alt="Tera Logo"></a>
    </div>
    <ul class="nav-items">
        <li class="nav-item"><a href="/" target="_self">Начало</li></a>
        <li class="nav-item"><a href="/services" target="_self">Услуги</a></li>
        <li class="nav-item"><a href="/about" target="_self">За Нас</a></li>
        <li class="nav-item"><a href="/contact" target="_self">Контакт</a></li>
    </ul>

</nav>