<div id="trademark">
    <span>© 2020 All Rights Reserved
        <a href="http://www.arielbehar.com" target="_blank">Ariel Behar <img src="/img/arielbehar-logo.png" alt="Ariel Behar Logo"></a></span>
</div>