* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Oswald', sans-serif;
    h1 {
        font-size: 4.2rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3.5rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}


body {
    background-color: $general-grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex-grow: 1;

}