// *******************************
// COLOR VARIABLES
// *******************************


$menu-blue: rgb(106,26,139);
$grey: #757575;
$light-grey: #c3c3c3;
$lightest-grey: #dadada;
$beige-grey: #cac7bd;

// *******************************
// BREAKPOINTS
// *******************************

$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
// @media (max-width $breakpoint-tablet) {

// }

// *******************************
// FONTS
// *******************************